# Pandas - Series

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [48]:
car = ['Audi', 'BMW', 'Tesla', 'TATA']
car2 = ['Audi', 'BMW', 'Mahindra', 'Kia']
arr = np.arange(1, 5)
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [30]:
labels

['a', 'b', 'c', 'd']

In [31]:
arr

array([1, 2, 3, 4])

In [32]:
d

{'a': 10, 'b': 20, 'c': 30}

In [33]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [34]:
pd.Series(car)

0     Audi
1      BMW
2    Tesla
3     TATA
dtype: object

In [44]:
pd.Series(data = car, index = arr)

1     Audi
2      BMW
3    Tesla
4     TATA
dtype: object

In [45]:
s1 = pd.Series(data = car)

In [49]:
s1[0]

'Audi'

In [50]:
s2 = pd.Series(data = car2)

In [51]:
s2

0        Audi
1         BMW
2    Mahindra
3         Kia
dtype: object

In [73]:
s1 == s2

0     True
1     True
2    False
3    False
dtype: bool